.allContentContainer{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.countryNameContainer{
    width: 100%;
    height: auto;
    text-align: start;
    font-weight: 600;
    font-size: 2rem;
    color: var(--text-color)

}

.bottomSideContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: start;
    /* background-color: #111517; */
}

.rightSideDetailsContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.leftSideDetailsContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
}

.detailContainer{
    width: fit-content;
    height: auto;
    font-weight:550 ;
    color: var(--text-color)
}

.text{
    color: var(--detail-text-color);
    font-weight: 300;
}

@media screen and (max-width : 480px) {

    .allContentContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .bottomSideContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: 4rem;
        
        align-items: start;
        /* background-color: #111517; */
    }

    .rightSideDetailsContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
    }
    
    .leftSideDetailsContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
    }

    .detailContainer{
        width: 100%;
        height: auto;
        font-weight:550 ;
        color: var(--text-color);
        
    }

    .text{
        height: auto;
        width: 100%;
        color: var(--detail-text-color);
        font-weight: 300;
    }
}