.allContentContainer{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.flagAndDescriptionContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.borderContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.borderTitleContainer{
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--text-color);
}

.borderSectionContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.importedFlagContainer{
    width: 40%;
    height: auto;
    /* background-color: black; */
}

@media screen and (max-width : 480px) {
    .flagAndDescriptionContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: start;
        row-gap: 2.5rem;
        /* background-color: aqua; */
    }

    .importedFlagContainer{
        width: 100%;
        height: auto;
        /* background-color: black; */
    }

    /* .borderContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 3rem;
    } */
}