.allContentContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  /* margin-bottom: 5rem; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding:2rem 4rem 2rem 4rem ;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: inset 0 1px 0.5px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px); 
    /* --background-color-dark: blue; */

}

.headingContainer{
    width: fit-content;
    height: auto;
    /* word-spacing: -0.1rem; */
    letter-spacing: -0.1rem;
    color: var(--text-color)
    
}

.headingLink{
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
   
}

.homeIcon{
    font-size: 1.5rem ;
    color: var(--text-color);
}

.iconAndTitleContainer{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 0.7rem;
    align-items: center;
    
    
}

.iconContainer{
    width: 20px;
    height: 20px;
}

.icon{
    width: 100%;
    height: 100%;
    color: var(--text-color);
}

.titleContainer{
    width: fit-content;
    height: auto;
    font-weight: 600;
    color: var(--text-color);
}