.allContentContainer{
    width : 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    row-gap: 1.5rem;
    background-color: white;
    padding-bottom: 4rem;
    border-radius: 0.5rem;

}

.imageContainer {
    width: 100%;
    height: 200px; /* Set your desired uniform height */
    overflow: hidden; /* Ensures no overflow if images are larger than the container */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;



}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.titleAndDescriptionContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
    padding-left: 1.2rem;
    /* background-color: white; */

}

.countryTitleContainer{
    width: fit-content;
    height: auto;
    font-weight: 600;
    font-size: 1.2rem;
    color: #111517;

}


.countryDescriptionContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.text{
    color: rgba(17, 21, 23, 0.7);
    font-weight: 300;
}

.populationContainer{
    width: fit-content;
    height: auto;
    font-weight:550 ;
    color: #111517;

}

.regionContainer{
    width: fit-content;
    height: auto;
    font-weight:550 ;
    color: #111517;


}

.capitalContainer{
    width: fit-content;
    height: auto;
    font-weight:550 ;
    color: #111517;

}