@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a{
  text-decoration: none;
  color: none;
}

select option:hover {
  background-color: none;
}

:root {
  /* --background-color: #ffffff; */
  --text-color: hsl(200, 15%, 8%);
  --detail-text-color: rgba(17, 21, 23, 0.7);
  --Dark-Blue-Dark-Mode-Background : hsl(207, 26%, 17%) ;
  --Very-Light-Gray-light-Mode-Background : hsl(0, 0%, 98%) ;
  --Element-Color : hsl(0, 0%, 100%);
}

/* Define dark mode variables */
[data-theme='dark'] {
  /* --background-color: #000000; */
  --text-color: hsl(0, 0%, 100%);
  --detail-text-color: rgba(255, 255, 255, 0.7);

  --Element-Color : hsl(209, 23%, 22%) ;
}

/* Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */