.mainPage{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.theHeader{
    width: 100%;
    height: auto;
    padding: 0rem 4rem;
}

.dark{
    background-color: blue;
}

.light{
    background-color: #F2F2F2;
}