.mainPage{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.theHeader{
    width: 100%;
    height: auto;
    padding: 0rem 4rem;
    /* background-color: var(--background-color); */
}

.dark{
    background-color: blue
}

.light{
    background-color: white
}

/* :root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
   */
  /* Define dark mode variables */
  /* [data-theme='dark'] {
    --background-color: #000000;
    --text-color: #ffffff;
  } */